{% extends "base.html.twig" %}

{% block body %}
<div class="container-fluid col-8 mt-3">
   <h3 class="text-center ">ADD CLASS</h3>
      {{ form_start(form) }}
         <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name,
               {
                  'attr': { 'class' : 'form-control'}
               })
            }}
            
         </div>
         {# <div class="form-group">
            {{ form_label(form.course) }}
            {{ form_widget(form.course,
               {
                  'attr': { 'class' : 'form-control'}
               })
            }}
         </div> #}
         <div class="form-group">
            {{ form_label(form.student) }}
            {{ form_widget(form.student,
               {
                  'attr': { 'class' : 'form-control'}
               })
            }}
         </div>      
         <div class="form-group text-center mt-3 mb-4">
            <button class="btn btn-primary" type="submit">ADD</button>
         </div>
      {{ form_end(form) }}
</div>
{% endblock %}