{% extends 'base.html.twig' %}

{% block body %}
	 <div class="app">
        
        <div class="container">
            <div class="grid">
                <div class="row">
                    <h1 class="text-uppercase text-center mt-3">{{class.name}} </h1>
                    <div class="e-panel card" style="background-color: #f5f5f5">
                        <div class="card-body">
                            <div class="card-title">
                            </div>
                            <div class="e-table">
                                <div class="table-responsive table-lg mt-3">
                                    <table class="table table-bordered">
                                        <thead style="text-align: center;">
                                         <tr>					
											<th>Student</th>
                                            <th>Course</th>
                                            <th>Quantity of student</th>
                                            <th>Quantity of course</th>
										</tr>
                                        </thead>
                                        <tbody style="text-align: center;">
                                           <tr>
												<td>
                                                {% for student in class.student %}
													<a href="{{path('student_detail',{'id':student.id})}}">
													{{student.name}}
													</a>
                                                    <br>
												{% endfor %}
                                                </td>
												<td>				
                                                    {% for c in class.course %}       
                                                        {# <a href="{{path('teacher_detail',{'id':c.teacher.id})}}">
                                                        {{c.name}} 
                                                        - {{c.teacher.name}}   
                                                        </a>             #}
                                                        {{c.name}}
                                                        <br>       
											    	{% endfor %}
												</td>
                                                <td>{{class.student|length}}</td>
                                                <td>{{class.course|length}}</td>
											</tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}